<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO App</title>
    <!-- Add Bootstrap to our project (https://getbootstrap.com/) -->
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css"
    crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_1.css') }}" type="text/css"/>
    <script src="{{ url_for('static', filename='1.js') }}"></script>
  </head>
  <body>
      <nav>
	<ul class="medium-horizontal navbar">
          {% if g.user %}
             <li class="list-group-item fi-list"><span class="mb-2">{{ g.user['username'] }}</span>
             <li class="list-group-item"><a href="{{ url_for('auth.logout') }}">Log Out</a>
          {% else %}
             <li class="list-group-item"><a href="{{ url_for('auth.register') }}">Register</a>
             <li class="list-gorup-item"><a href="{{ url_for('auth.login') }}">Log In</a>
          {% endif %}
       </ul>
      </nav>
    <div class="container">
      <h1 class="text-center">My TODO List</h1>
      <div class="row justify-content-center">
	      <a type="submit" class="btn btn-warning mx-sm-3 mb-2"
		href='/new_task' role="button">Add task</a>
	      <a type="submit" class="btn btn-warning mx-sm-3 mb-2"
		href='/new_category' role="button">Add category</a>
	      <a type="submit" class="btn btn-warning mx-sm-3 mb-2"
		href='/category' role="button">List categories</a>

      </div>
      {% for category in categories %}
      <br>
      <div class="category">{{ category.body }} </div>
      <br>
      <ul class="list-group">
        {% for task in category.tasks %}
        <li class="list-group-item {% if task.done %}list-group-item-secondary{% endif %}">
          <div class="row justify-content-between">
            <div class="my-2 mx-sm-3">
		    <span role="listitem" id="taskbody_{{ task.id }}">
              {% if task.done %}<del>{% endif %}
              {{ task.body }}
              {% if task.done %}</del>{% endif %}
              </span>
            </div>
            <div class="my-2 mx-sm-3">
              {% if not task.done %}
	      <a class="btn btn-warning" role="button" onclick="return sendDataToEdit({{ task.id }})")>Edit</a>
	      <textarea style='display:none' placeholder='New text' name='body' id="input_{{ task.id }}"></textarea>
              <a class="btn btn-success" href="/done/{{ task.id }}" role="button">Done</a>
              {% endif%}
	      {% if task.done %}
	      <a class="btn btn-warning" href="/undo/{{ task.id }}" role="button">Undo</a>
	      {% endif%}
              <a class="btn btn-danger" href="/delete/{{ task.id }}" role="button">Delete</a>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </body>
</html>

