
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%}{% endblock%}</title>
    <!-- Add Bootstrap to our project (https://getbootstrap.com/) -->
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css"
    crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_1.css') }}" type="text/css"/>
  </head>
  <body>
    <nav>
	<ul class="medium-horizontal navbar">
          {% if g.user %}
             <li class="list-group-item fi-list"><span>{{ g.user['username'] }}</span>
             <li class="list-group-item"><a href="{{ url_for('auth.logout') }}">Log Out</a>
          {% else %}
             <li class="list-group-item"><a href="{{ url_for('auth.register') }}">Register</a>
             <li class="list-group-item"><a href="{{ url_for('auth.login') }}">Log In</a>
          {% endif %}
       </ul>
    </nav>
    <section class="row justify-content-center">
	     <header>
             {% block header %}{% endblock %}
	    </header>
	    <div class="category">
               {% for message in get_flashed_messages() %}
               <div class="category">{{ message }}</div>
               {% endfor %}	    
           {% block content %}{% endblock %}
	    </div>

    </section>
 </body>
</html>

