{% extends 'base.html' %}
    {% block title %}<h1 class="text-center">Task Categories</h1>{% endblock %}
    <div class="container">
	    {% block content  %}
       <ul class="list-group">
        {% for category in categories %}
	<li class="list-group-item"> 
          <div class="row justify-content-between">
            <div class="my-2 mx-sm-3">
              <span role="listitem">
		      {{ category.body }}
              </span>
            </div>
      		<a type="submit" class="btn btn-danger" href="category/delete/{{ category.id }}" role="button">Delete category</a>
         </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <br></br>
       <div class="row justify-content-center"> 
	  <a class="btn btn-success" role="button" href="/">Back</a>
       </div>
       {% endblock  %}
       </div>   

