{% extends "base.html" %}


{% block title  %}<h1 class="text-center">New category</h1>{% endblock %}
    <div class="container">
	    {% block content %}
      <div class="row justify-content-center">
        <form class="form-inline" action="/category" method="post">
          <div class="form-group">
	    <ul class="list-group">
              <li class="list-group-item">Category:
                <input type="text" placeholder="Body of the category" name="body"/>
	      </li>
	    </ul>  
          </div>
          <button type="submit" class="btn btn-success mx-sm-3 mb-2">Add category</button>
        </form>
   </div>
   <br></br>
     <div class="row justify-content-center"> 
	  <a class="btn btn-success" role="button" href="/">Back</a>
     </div>
     {% endblock %}
    </div>
  </body>
</html>

