{% extends "base.html" %}


{% block title %} <h1 class="text-center">New task</h1>{% endblock  %}
    <div class="container">
	    {% block content %}
      <div class="row justify-content-center">
        <form class="form-inline" action="/task" method="post">
          <div class="form-group">
	    <ul class="list-group">
              <li class="list-group-item">Task:
                <input type="text" placeholder="Body of the task" name="body"/>
	      </li>
	      <li class="list-group-item">Category:
	    <select name="category">
		    {% for category in categories %}
		    <option value="{{ category.id }}">{{ category.body }}</option>
		    {% endfor %}
	    </select>
	       </li>
	     </ul>  
          </div>
          <button type="submit" class="btn btn-success mx-sm-3 mb-2">Add task</button>
        </form>
   </div>
   <br></br>
  <div class="row justify-content-center"> 
	  <a class="btn btn-success" role="button" href="/">Back</a>
	  {% endblock   %}
  </div>

