.category {
 border: solid rgb(1,144,144);
 box-shadow: 1px 1px 2px azure;
 font-variant: small-caps;
 font-family: monospace;
 padding: 30px;
 margin: 30px auto;
 text-align: center
}

h1 {
    color: #001111;
}

.title {
    letter-spacing: 12em;
}

div {

 font-family: monospace;
 font-variant: small-caps;
}

a {

 color: black;
}

select {
  margin-bottom: 1em;
  padding: .25em;
  border: 0;
  border-bottom: 2px solid currentcolor;
  font-weight: bold;
  letter-spacing: .15em;
  border-radius: 0;
  &:focus, &:active {
    outline: 0;
    border-bottom-color: red;
  }
}

.auth-title {

	position: relative;
        display: block;
	font-family: small-caps;
	font-weight: 7em;
	font-size: 15px;
        text-transform: uppercase;
	color: pink;
        padding: .25em;
        border: 0;
	margin-left: 30%;
        border-bottom: 2px solid currentcolor;
        letter-spacing: .15em;
	position: absolute;
}
